@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
	--red1: #FFCDD2;
	--red2: #EF9A9A;
	--red3: #E57373;
	--red4: #EF5350;
	--red5: #F44336;
	--red6: #E53935;
	--red7: #D32F2F;
	--red8: #C62828;
	--red9: #B71C1C;
	--pink1: #F8BBD0;
	--pink2: #F48FB1;
	--pink3: #F06292;
	--pink4: #EC407A;
	--pink5: #E91E63;
	--pink6: #D81B60;
	--pink7: #C2185B;
	--pink8: #AD1457;
	--pink9: #880E4F;
	--purple1: #E1BEE7;
	--purple2: #CE93D8;
	--purple3: #BA68C8;
	--purple4: #AB47BC;
	--purple5: #9C27B0;
	--purple6: #8E24AA;
	--purple7: #7B1FA2;
	--purple8: #6A1B9A;
	--purple9: #4A148C;
	--deeppurple1: #D1C4E9;
	--deeppurple2: #B39DDB;
	--deeppurple3: #9575CD;
	--deeppurple4: #7E57C2;
	--deeppurple5: #673AB7;
	--deeppurple6: #5E35B1;
	--deeppurple7: #512DA8;
	--deeppurple8: #4527A0;
	--deeppurple9: #311B92;
	--indigo1: #C5CAE9;
	--indigo2: #9FA8DA;
	--indigo3: #7986CB;
	--indigo4: #5C6BC0;
	--indigo5: #3F51B5;
	--indigo6: #3949AB;
	--indigo7: #303F9F;
	--indigo8: #283593;
	--indigo9: #1A237E;
	--blue1: #BBDEFB;
	--blue2: #90CAF9;
	--blue3: #64B5F6;
	--blue4: #42A5F5;
	--blue5: #2196F3;
	--blue6: #1E88E5;
	--blue7: #1976D2;
	--blue8: #1565C0;
	--blue9: #0D47A1;
	--lightblue1: #B3E5FC;
	--lightblue2: #81D4FA;
	--lightblue3: #4FC3F7;
	--lightblue4: #29B6F6;
	--lightblue5: #03A9F4;
	--lightblue6: #039BE5;
	--lightblue7: #0288D1;
	--lightblue8: #0277BD;
	--lightblue9: #01579B;
	--cyan1: #B2EBF2;
	--cyan2: #80DEEA;
	--cyan3: #4DD0E1;
	--cyan4: #26C6DA;
	--cyan5: #00BCD4;
	--cyan6: #00ACC1;
	--cyan7: #0097A7;
	--cyan8: #00838F;
	--cyan9: #006064;
	--teal1: #B2DFDB;
	--teal2: #80CBC4;
	--teal3: #4DB6AC;
	--teal4: #26A69A;
	--teal5: #009688;
	--teal6: #00897B;
	--teal7: #00796B;
	--teal8: #00695C;
	--teal9: #004D40;
	--green1: #C8E6C9;
	--green2: #A5D6A7;
	--green3: #81C784;
	--green4: #66BB6A;
	--green5: #4CAF50;
	--green6: #43A047;
	--green7: #388E3C;
	--green8: #2E7D32;
	--green9: #1B5E20;
	--lightgreen1: #DCEDC8;
	--lightgreen2: #C5E1A5;
	--lightgreen3: #AED581;
	--lightgreen4: #9CCC65;
	--lightgreen5: #8BC34A;
	--lightgreen6: #7CB342;
	--lightgreen7: #689F38;
	--lightgreen8: #558B2F;
	--lightgreen9: #33691E;
	--lime1: #F0F4C3;
	--lime2: #E6EE9C;
	--lime3: #DCE775;
	--lime4: #D4E157;
	--lime5: #CDDC39;
	--lime6: #C0CA33;
	--lime7: #AFB42B;
	--lime8: #9E9D24;
	--lime9: #827717;
	--yellow1: #FFF9C4;
	--yellow2: #FFF59D;
	--yellow3: #FFF176;
	--yellow4: #FFEE58;
	--yellow5: #FFEB3B;
	--yellow6: #FDD835;
	--yellow7: #FBC02D;
	--yellow8: #F9A825;
	--yellow9: #F57F17;
	--amber1: #FFECB3;
	--amber2: #FFE082;
	--amber3: #FFD54F;
	--amber4: #FFCA28;
	--amber5: #FFC107;
	--amber6: #FFB300;
	--amber7: #FFA000;
	--amber8: #FF8F00;
	--amber9: #FF6F00;
	--orange1: #FFE0B2;
	--orange2: #FFCC80;
	--orange3: #FFB74D;
	--orange4: #FFA726;
	--orange5: #FF9800;
	--orange6: #FB8C00;
	--orange7: #F57C00;
	--orange8: #EF6C00;
	--orange9: #E65100;
	--deeporange1: #FFCCBC;
	--deeporange2: #FFAB91;
	--deeporange3: #FF8A65;
	--deeporange4: #FF7043;
	--deeporange5: #FF5722;
	--deeporange6: #F4511E;
	--deeporange7: #E64A19;
	--deeporange8: #D84315;
	--deeporange9: #BF360C;
	--brown1: #D7CCC8;
	--brown2: #BCAAA4;
	--brown3: #A1887F;
	--brown4: #8D6E63;
	--brown5: #795548;
	--brown6: #6D4C41;
	--brown7: #5D4037;
	--brown8: #4E342E;
	--brown9: #3E2723;
	--grey1: #F5F5F5;
	--grey2: #EEEEEE;
	--grey3: #E0E0E0;
	--grey4: #BDBDBD;
	--grey5: #9E9E9E;
	--grey6: #757575;
	--grey7: #616161;
	--grey8: #424242;
	--grey9: #212121;
	--bluegrey1: #CFD8DC;
	--bluegrey2: #B0BEC5;
	--bluegrey3: #90A4AE;
	--bluegrey4: #78909C;
	--bluegrey5: #607D8B;
	--bluegrey6: #546E7A;
	--bluegrey7: #455A64;
	--bluegrey8: #37474F;
	--bluegrey9: #263238;
}

a#credits {
	position: absolute;
	left: 96%;
	top: 1%;
	color: black;
}

* {
	font-family: 'Roboto', sans-serif;
	user-select: none;
}

*::-webkit-scrollbar-track {
	background-color: var(--grey2);
}

*::-webkit-scrollbar {
	width: 8px;
}

*::-webkit-scrollbar-thumb {
	background-color: var(--green7);
}

*::-webkit-scrollbar-thumb:hover {
	background-color: var(--green8);
}

body {
	background-color: var(--grey1);
	padding: 0;
	margin: 0;
	background-color: var(--green2);
}

input, select {
	padding: 6px 12px;
	-webkit-appearance: none;
	outline: none;
	border: none;
	border-radius: 4px;
}

input[type="text"], input[type="checkbox"], select {
	border: 1px solid var(--grey4);
	color: var(--grey7);
}

input[type="text"]:active, input[type="text"]:focus, select:focus {
	border: 1px solid var(--green6);
}

input[type="button"] {
	background-color: var(--green5);
	color: white;
}

input[type="button"]:not(:disabled):hover {
	cursor: pointer;
	background-color: var(--green6);
}

input[type="button"]:not(:disabled):focus {
	background-color: var(--green7);
}

input[type="button"]:disabled {
	background-color: var(--green2);
}

div.ui {
	position: absolute;
	height: 85%;
	top: 7.5%;
	background-color: var(--grey2);
	border: 1px solid var(--green8);
}

div#userconfig {
	left: 5%;
	width: 25%;
}

div#userconfig div#welcome_div {
	position: absolute;
	text-align: center;
	top: 5%;
	background-color: var(--green7);
	padding: 0;
	width: 100%;
	height: 50px;
}

div#userconfig div#welcome_div p#welcome_p {
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 50px;
	font-size: 18px;
	color: white;
	margin: 0;
}

div#userconfig input, div#userconfig select {
	position: absolute;
	width: 85%;
	left: 7.5%;
	font-size: 1.2em;
	height: 45px;
}

div#userconfig input#username {
	top: calc(50px + 5% + 4% + 0 * (50px));
}

div#userconfig input#room {
	top: calc(50px + 5% + 4% + 1 * (50px));
}

div#userconfig select#language {
	top: calc(50px + 5% + 4% + 2 * (50px));
}

div#userconfig input#join {
	position: absolute;
	width: 85%;
	height: 60px;
	left: 7.5%;
	bottom: 5%;
	text-align: center;
	font-size: 1.5em;
}

div#roomlist {
	left: 32.5%;
	width: 62.5%;
}

div.roomlist_entry {
	width: 100%;
	border-bottom: 1px solid var(--grey5);
	height: 58px;
	background-color: var(--grey3);
}

div.roomlist_entry:hover {
	cursor: pointer;
	background-color: var(--green1);
}

div.roomlist_entry.selected {
	background-color: var(--green1);
}

div.roomlist_entry div.name {
	height: 50%;
	width: calc(25% - 1px);
	float: left;
	border-right: 1px solid var(--grey5)
}

div.roomlist_entry div.language {
	height: 50%;
	width: calc(12.5% - 1px);
	float: left;
	border-right: 1px solid var(--grey5)
}

div.roomlist_entry div.gamestate {
	height: 50%;
	width: calc(25% - 1px);
	float: left;
	border-right: 1px solid var(--grey5)
}

div.roomlist_entry div.dicts {
	height: 50%;
	width: calc(25% - 1px);
	float: left;
	border-right: 1px solid var(--grey5)
}

div.roomlist_entry div.slots {
	height: 50%;
	width: calc(12.5% - 0px);
	float: left;
}

div.roomlist_entry div.players {
	height: 50%;
	width: calc(100%);
	float: left;
	border-top: 1px solid var(--grey5)
}

div.roomlist_entry span {
	width: calc(100% - 2%);
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 29px;
	padding-left: 1%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
	color: var(--green7);
}

div.game, canvas.postlobby, div.postgame {
	display: none;
}

div#header {
	height: 50px;
	width: 90%;
	left: 5%;
	top: 7.5%;
}

div#userlist {
	height: calc(572px + 1.5% + 80px);
	width: calc(29.6% / 2);
	left: 5%;
	top: calc(7.5% + 50px + 1.5%);
}

canvas#game, div#lobby, div.postgame {
	position: absolute;
	left: calc(5% + (29.6% / 2) + 0.7%);
	top: calc(7.5% + 50px + 1.5%);
	background-color: var(--grey2);
	border: 1px solid var(--green8);
}

div#lobby, div.postgame {
	width: 776px;
	height: 572px;
}

div#chat {
	height: calc(572px + 1.5% + 80px);
	width: calc(100% - (5% + (29.6% / 2) + 0.7% + 776px + 0.7%) - 5%);
	left: calc(5% + (29.6% / 2) + 0.7% + 776px + 0.7%);
	top: calc(7.5% + 50px + 1.5%);
}

div.drawingTools {
	left: calc(5% + (29.6% / 2) + 0.7%);
	top: calc(7.5% + 50px + 1.5% + 572px + 1.5%);
	height: 80px;
	width: 776px;
	margin-bottom: 2.5%;
}

div#drawingTools div#colorsContainer {
	width: 380px;
	height: 100%;
	float: left;
}

div#drawingTools div.tools {
	margin-left: 3.51px;
	margin-right: 3.51px;
	margin-top: 5px;
	width: 70px;
	height: 70px;
	float: left;
	text-align: center;
	cursor: pointer;
	border: 1px solid var(--grey8);
	border-radius: 5px;
	transition: border-radius 0.3s ease;
	background-color: var(--grey2);
	color: var(--grey8);
	font-size: 2em;
}

div#drawingTools div.tools:hover {
	border-radius: 50%;
}

div#drawingTools div.half.tools {
	border-radius: 0;
	width: 35px;
	font-size: 1.4em;
}

div#drawingTools div.half.tools.first {
	margin-right: 0;
	border-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#drawingTools div.half.tools.first:hover {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

div#drawingTools div.half.tools.second {
	margin-left: 0;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div#drawingTools div.half.tools.second:hover {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

div#drawingTools div.tools.active, div#drawingTools div.tools:active {
	background-color: var(--grey8);
	color: var(--grey2);
}

.fa-pencil-alt, .fa-eraser, .fa-fill-drip, .fa-trash, .fa-undo-alt, .fa-redo-alt {
	line-height: 70px;
}

div#drawingTools div#colorsContainer div.colorSource {
	width: 20px;
	height: 20px;
	cursor: pointer;
	float: left;
	border-width: 0px;
}

div#drawingTools div#colorsContainer div.colorSource:hover, div#drawingTools div#colorsContainer div.colorSource.active {
	width: 14px;
	height: 14px;
	border: 3px solid var(--grey1);
}

div#drawingTools_disabled {
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
}

div#userlist {
	overflow-y: auto;
}

div#userlist div.userlistentry {
	width: 100%;
	height: 30px;
}

div#lobby div.lobby_container {
	margin-top: 20px;
	margin-left: 5%;
	width: 90%;
	height: 25%;
	margin-bottom: 50px;
}

div#lobby div.lobby_container div.lobby_header {
	width: 100%;
	height: 50px;
}

div#lobby div.lobby_container div.lobby_header span {
	width: 100%;
	display: inline-block;
	color: var(--green7);
	font-weight: bold;
	text-align: center;
	line-height: 50px;
	font-size: 1.3em;
}

div#lobby div.lobby_container div.option_container {
	width: 49.5%;
	height: 30px;
	float: left;
	margin-top: 5px;
}

div#lobby div.lobby_container div.option_container.first {}

div#lobby div.lobby_container div.option_container.second {
	margin-left: 1%;
}

div#lobby div.lobby_container div.option_container span.option_description {
	width: 50%;
	line-height: 30px;
	display: inline-block;
	float: left;
	color: var(--green7);
	font-weight: bold;
}

div#lobby div.lobby_container div.option_container input.option_input {
	float: left;
}

div#lobby div.lobby_container div.option_container input.option_input[type="text"] {
	width: calc(50% - 2px);
}

div#lobby div.lobby_container div.option_container input.option_input[type="checkbox"] {
	width: 28px;
	height: 28px;
	margin-top: 1px;
	margin-left: calc(49% - 28px);
	padding: 0;
	cursor: pointer;
	transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

div#lobby div.lobby_container div.option_container input.option_input[type="checkbox"]:checked {
	background-color: var(--green6);
	box-shadow: inset 0 0 0 2px var(--grey1);
}

div#lobby div.lobby_container div.option_container input.option_input[type="checkbox"]:hover {
	border: 1px solid var(--green6);
}

div#lobby input#start_game {
	position: absolute;
	width: 25%;
	height: 32px;
	bottom: 5%;
	right: 5%;
	font-size: 1.1em;
}

div#results {
	background-color: rgba(0, 0, 0, 0.8);
	border-color: rgba(0, 0, 0, 0.8);
	color: var(--grey1);
	font-size: 2em;
	font-weight: bold;
}

div#results div {
	width: 100%;
}

div#results span#results_title_span, div#results span#results_nextround_span, div#results span#results_word_span {
	text-align: center;
	width: 100%;
	display: inline-block;
}

div#results div#results_title {
	margin-top: 30px;
}

div#results div#results_nextround {
	font-size: 0.8em;
}

div#results div#results_word {
	margin-top: 30px;
}

div#results div#results_places {
	width: 50%;
	margin-left: 25%;
	margin-top: 15px;
}

div#results div#results_places div.results_places_entry span {
	width: 50%;
	float: left;
	display: inline-block;
}

div#results div#results_places div.results_places_entry span.li_entry_name {
	text-align: left;
}

div#results div#results_places div.results_places_entry span.li_entry_score {
	text-align: right;
}

div#userlist span {
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.fa-circle {
	line-height: 30px;
}

div#userlist div.usernamepre {
	width: 15%;
	float: left;
}

div#userlist div.username {
	width: 55%;
	float: left;
}

div#userlist div.score {
	width: 30%;
	float: left;
}

div#header span {
	display: inline-block;
	height: calc(100% - 20px);
	line-height: 30px;
	font-weight: bold;
	color: var(--green7);
	float: left;
	padding: 10px;
}

div#header span#roomname {
	width: calc(20% - 20px);
	text-align: left;
}

div#header span#roomgamestate {
	width: calc(20% - 20px);
	text-align: center;
}

div#header span#roomword {
	width: calc(20% - 20px);
	text-align: center;
}

div#header span#roomtimer {
	width: calc(20% - 20px);
	text-align: center;
}

div#header span#roomplayercount {
	width: calc(20% - 20px);
	text-align: right;
}

div#chatlog {
	width: 100%;
	height: 90%;
	overflow: scroll;
	overflow-x: hidden;
}

div#chatlog div.chatmessage {
	width: 100%;
	min-height: 19px;
	max-height: auto;
	padding-left: 2px;
	padding-right: 10px;
}

div#chatlog div.chatmessage div.author {
	height: auto;
	float: left;
	word-wrap: break-word;
	max-width: 100%;
	font-weight: bold;
	padding-right: 3px;
}

/* div#chatlog div.chatmessage div.author span::after {
	content: ":";
} */
div#chatlog div.chatmessage div.content {
	height: auto;
	float: left;
	word-wrap: break-word;
	max-width: 100%;
	color: var(--grey9);
}

input#newmessage {
	position: absolute;
	width: calc(100% - 10px);
	height: 40px;
	left: 5px;
	bottom: 5px;
}

canvas#cursorCanvas {
	position: absolute;
	left: -100px;
	top: -100px;
	background-color: transparent;
}