:root {
	--grey12: #ebebeb;
	--userColor: 0;
	--msg-normal: var(--grey8);
	--msg-secret: var(--indigo7);
	--msg-spectator: var(--cyan7);
	--msg-system: var(--purple7);
	--msg-guessed: var(--green7);
	--msg-leave: var(--red7);
	--msg-join: var(--orange7);
}

* {
	font-family: "Roboto", sans-serif;
	user-select: none;
}

*::-webkit-scrollbar-track {
	display: none;
}

*::-webkit-scrollbar {
	display: none;
}

*::-webkit-scrollbar-thumb {
	display: none;
}

*::-webkit-scrollbar-thumb:hover {
	display: none;
}

#roomlist::-webkit-scrollbar-track {
	background-color: var(--grey2);
}

#roomlist::-webkit-scrollbar {
	width: 8px;
}

#roomlist::-webkit-scrollbar-thumb {
	background-color: var(--green7);
}

#roomlist::-webkit-scrollbar-thumb:hover {
	background-color: var(--green8);
}

body {
	/* background-color: var(--green2); */
	background-color: var(--grey3);
	margin: 0;
	padding: 0;
}

input,
select {
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	-webkit-appearance: none;
	outline: none;
}

input[type="text"],
input[type="checkbox"],
select {
	color: var(--grey7);
	border: 1px solid var(--grey4);
}

input[type="text"]:active,
input[type="text"]:focus,
select:focus {
	border: 1px solid var(--green6);
}

input[type="button"] {
	background-color: var(--green5);
	color: var(--grey1);
}

input[type="button"]:not(:disabled):hover {
	background-color: var(--green6);
	cursor: pointer;
}

input[type="button"]:not(:disabled):active {
	background-color: var(--green7);
}

input[type="button"]:disabled {
	background-color: var(--green2);
}

.pre {
	display: none;
}

.in {
	display: none;
}

.post {
	display: none;
}

#connecting {
	text-align: center;
	line-height: 100vh;
	font-size: 50px;
	font-weight: bold;
	color: var(--grey6);
}

#fillSpace {
	position: absolute;
	width: 776px;
	height: calc(100% - 702px);
	left: calc((100% / 2) - 388px);
	top: 702px;
	background-image: url("../images/background.png");
	/* background-repeat: no-repeat; */
	/* NOTE: no-repeat as long as banner.png is not repeatable. */
	background-size: cover;
	background-position: center;
}
