div.game, canvas.postlobby, div.postgame {
	display: none;
}

canvas#game, div.postgame {
	position: absolute;
	left: calc(5% + (29.6% / 2) + 0.7%);
	top: calc(7.5% + 50px + 1.5%);
	background-color: var(--grey2);
	border: 1px solid var(--green8);
}

div#chat {
	height: calc(572px + 1.5% + 80px);
	width: calc(100% - (5% + (29.6% / 2) + 0.7% + 776px + 0.7%) - 5%);
	left: calc(5% + (29.6% / 2) + 0.7% + 776px + 0.7%);
	top: calc(7.5% + 50px + 1.5%);
}

div#chatlog {
	width: 100%;
	height: 90%;
	overflow: scroll;
	overflow-x: hidden;
}

div#chatlog div.chatmessage {
	width: 100%;
	min-height: 19px;
	max-height: auto;
	padding-left: 2px;
	padding-right: 10px;
}

div#chatlog div.chatmessage div.author {
	height: auto;
	float: left;
	word-wrap: break-word;
	max-width: 100%;
	font-weight: bold;
	padding-right: 3px;
}

/* div#chatlog div.chatmessage div.author span::after {
	content: ":";
} */
div#chatlog div.chatmessage div.content {
	height: auto;
	float: left;
	word-wrap: break-word;
	max-width: 100%;
	color: var(--grey9);
}

input#newmessage {
	position: absolute;
	width: calc(100% - 10px);
	height: 40px;
	left: 5px;
	bottom: 5px;
}