div#drawingTools {
	width: 776px;
	height: 80px;
	float: left;
	/* background-color: var(--grey2); */
	/* border-top: 1px solid var(--green7); */
	background-color: var(--opaque0);
	/* border-top: 2px solid var(--opaque1); */
}

div#drawingTools div#drawingTools-colors-container {
	width: 380px;
	height: 100%;
	float: left;
}

div#drawingTools div#drawingTools-colors-container div.color-source {
	width: 20px;
	height: 20px;
	border-width: 0px;
	cursor: pointer;
	float: left;
	/* opacity: 0.8; */
}

div#drawingTools div#drawingTools-colors-container div.color-source:hover,
div#drawingTools div#drawingTools-colors-container div.color-source.active {
	width: 14px;
	height: 14px;
	border: 3px solid var(--grey1);
}

div#drawingTools div.tools {
	margin-left: 3.51px;
	margin-right: 3.51px;
	margin-top: 5px;
	width: 70px;
	height: 70px;
	float: left;
	text-align: center;
	cursor: pointer;
	border: 1px solid var(--grey8);
	border-radius: 5px;
	transition: border-radius 0.3s ease;
	background-color: var(--grey2);
	color: var(--grey8);
	font-size: 2em;
}

div#drawingTools div.tools:hover {
	border-radius: 50%;
}

div#drawingTools div.half.tools {
	border-radius: 0;
	width: 35px;
	font-size: 1.4em;
}

div#drawingTools div.half.tools.first {
	margin-right: 0;
	border-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

div#drawingTools div.half.tools.first:hover {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

div#drawingTools div.half.tools.second {
	margin-left: 0;
	border-left: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

div#drawingTools div.half.tools.second:hover {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

div#drawingTools div.tools.active,
div#drawingTools div.tools:active {
	background-color: var(--grey8);
	color: var(--grey2);
}

div#drawingTools div.tools i.fa-pencil-alt,
div#drawingTools div.tools i.fa-eraser,
div#drawingTools div.tools i.fa-eye-dropper,
div#drawingTools div.tools i.fa-fill-drip,
div#drawingTools div.tools i.fa-trash,
div#drawingTools div.tools i.fa-search,
div#drawingTools div.tools i.fa-undo-alt,
div#drawingTools div.tools i.fa-redo-alt {
	line-height: 70px;
}
