div#header {
	width: 100%;
	height: 49px;
	background-color: var(--grey2);
	border-bottom: 1px solid var(--green7);
}

div#header span {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	padding: 10px;
	color: var(--green7);
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-weight: bold;
	float: left;
}

div#header span:nth-child(1) {
	text-align: left;
}

div#header span:nth-child(5) {
	text-align: right;
}

div#header span#header-word {
	white-space: pre;
}