div#header {
  width: 100%;
  height: calc(50px - 2px);
  /* background-color: var(--grey2); */
  /* border-bottom: 2px solid var(--grey3); */
  background-color: var(--opaque0);
  border-bottom: 2px solid var(--opaque1);
  display: none;
}

div#header div.slot {
  height: calc(20px);
  background-color: var(--opaque1);
  float: left;
  margin-top: calc((50px - 2px) / 2 - 20px);
  margin-left: 2px;
  margin-right: 2px;
  padding: 10px;
  text-align: center;
}

div#header div.slot span {
  color: var(--grey8);
  text-align: center;
  font-weight: bold;
}

div#header div.slot:nth-child(1) {
  margin-left: 4px;
  width: calc(20% - 20px - 4px - 1px);
}
div#header div.slot:nth-child(2) {
  width: calc(10% - 20px - 4px - 1px);
}
div#header div.slot:nth-child(3) {
  width: calc(45% - 20px - 4px - 1px);
}
div#header div.slot:nth-child(4) {
  width: calc(10% - 20px - 4px - 1px);
}
div#header div.slot:nth-child(5) {
  width: calc(15% - 20px - 4px - 1px);
}

div#header div.slot span#header-word-word {
  text-align: left;
  float: left;
  display: inline-block;
  width: 55px;
  height: 40px;
  margin-top: -10;
  line-height: 40px;
  padding-left: 10px;
}

div#header div.slot div#header-word {
  width: calc(100% - 80px);
  height: 40px;
  float: left;
  margin-top: -10px;
  padding-left: 10px;
}

div#header div.slot div#header-word div.header-word-letter {
  width: 20px;
  height: 30px;
  background-color: var(--opaque1);
  line-height: 30px;
  margin-left: -1px;
  margin-top: 4px;
  float: left;
  border: 1px solid var(--opaquegrey5);
}
div#header div.slot div#header-word div.header-word-letter.hidden {
  background-color: transparent;
  border: none;
}
