div#newmessage {
	width: calc((100% / 2) - 388px);
	height: 75px;
	background-color: var(--grey2);
	float: right;
}

div#newmessage input#newmessage-text {
	width: 75%;
	height: 35px;
	margin-left: 2.5%;
	margin-right: none;
	margin-top: 25px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-right: none;
	float: left;
}

div#newmessage input#newmessage-send {
	width: 20%;
	height: 35px;
	margin-left: 0;
	margin-top: 25px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-left: none;
}