div#newmessage {
  width: calc((100% / 2) - 388px - 2px);
  height: 75px;
  float: right;
  /* background-color: var(--grey2); */
  /* border-left: 2px solid var(--grey3); */
  background-color: var(--opaque0);
  border-left: 2px solid var(--opaque1);
  display: none;
}

div#newmessage input#newmessage-text {
  width: 75%;
  height: 35px;
  margin-left: 2.5%;
  margin-right: none;
  margin-top: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  float: left;
  background-color: var(--opaquegrey1);
}

div#newmessage input#newmessage-send {
  width: 20%;
  height: 35px;
  margin-left: 0;
  margin-top: 25px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
  font-size: 1em;
}
