div#userlist {
	width: calc((100% / 2) - 388px - 2px);
	min-height: calc(572px + 80px);
	height: calc(100% - 50px);
	border-right: 2px solid var(--grey3);
	background-color: var(--grey2);
	overflow-y: auto;
	float: left;
}

div#userlist div.userlist-entry {
	width: 100%;
	height: 30px;
}

div#userlist div.userlist-entry span {
	height: 100%;
	display: inline-block;
	text-align: center;
	line-height: 30px;
	margin-left: 5px;
	margin-right: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

div#userlist
	div.userlist-entry
	div.userlist-entry-info
	span
	i.fas.fa-paint-brush,
div#userlist div.userlist-entry div.userlist-entry-info span i.fas.fa-eye,
div#userlist
	div.userlist-entry
	div.userlist-entry-info
	span
	i.fas.fa-question-circle,
div#userlist
	div.userlist-entry
	div.userlist-entry-info
	span
	i.fas.fa-check-circle,
div#userlist div.userlist-entry div.userlist-entry-info span i.fas.fa-crown,
div#userlist div.userlist-entry div.userlist-entry-info span i.fas.fa-clock {
	line-height: 30px;
	font-size: 23px;
}

div#userlist div.userlist-entry div.userlist-entry-info {
	float: left;
}

div#userlist div.userlist-entry div.userlist-entry-info.status {
	width: 15%;
}

div#userlist div.userlist-entry div.userlist-entry-info.username {
	width: 55%;
	font-weight: bold;
}

div#userlist div.userlist-entry div.userlist-entry-info.score {
	width: 30%;
}
