div#userlist {
  width: calc((100% / 2) - 388px - 2px);
  min-height: calc(572px + 80px);
  height: calc(100vh - 50px);
  overflow-y: auto;
  float: left;
  /* border-right: 2px solid var(--grey3); */
  /* background-color: var(--grey2); */
  background-color: var(--opaque0);
  border-right: 2px solid var(--opaque1);
}

div#userlist div.userlist-entry {
  width: calc(100% - 6px);
  height: 30px;
  margin-left: 3px;
  margin-top: 2px;
  opacity: 0.9;
}

div#userlist div.userlist-entry span {
  height: 100%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div#userlist div.userlist-entry div.userlist-entry-info i {
  line-height: 30px;
  font-size: 23px;
}

div#userlist div.userlist-entry div.userlist-entry-info {
  float: left;
}

div#userlist div.userlist-entry div.userlist-entry-info.status {
  width: 30px;
  text-align: center;
}

div#userlist div.userlist-entry div.userlist-entry-info.username {
  width: calc(100% - 30px - 30px - 100px);
  font-weight: bold;
  overflow-y: auto;
  scrollbar-width: none;
}

div#userlist div.userlist-entry div.userlist-entry-info.score {
  float: right;
  overflow-y: auto;
}
